*{
    background-color: black; 
    text-align: center;
    margin:15px
}


a {
    color:aquamarine;
    font-size: 16px;
    text-align: center; 
}

h1 {
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    text-align: center; 
    margin:15px;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 21px;
    color: gray;
}

img { 
    display:block; 
    margin-left: auto;
    margin-right: auto;
    margin-top:15px;
    margin-bottom: 15px;
}  